@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    background: #EFF5F5;
    min-height: 100vh;
    padding-top: 150px;
    overflow-x: hidden;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: beige;
}

.logo {
    width: 15%;
    padding-left: 10px;
}

.logo img {
    width: 100px;
    padding: 10px;
}

.navbar {
    width: 85%;
    display: flex;
    justify-content: right;
    padding-bottom: 10px;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.navbar .menu-list {
    width: 65%;
    text-align: center;
}

.navbar .menu-option {
    width: 35%;
    text-align: right;
}

.navbar li {
    display: flex;
    display: inline-block;
    padding: 20px;
    transition: .5s;
    position: relative;
    
}

.navbar li a{
    text-decoration: none; 
    color: #384857;
    transition: .2s;
}

.navbar li:hover {
    background-color: #42855B;
    border-radius: 5px;
}

.navbar .menu-list li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    background-color: #ffffff22;
    text-align: left;
    display: none;
}

.navbar li:hover > ul {
    display: block;
}

.navbar .menu-list ul li {
    width: calc(100% - 40px);
    text-align: left;
    display: block;
}

.navbar .menu-list ul ul {
    left: 100%;
    top: 0;
}

.navbar input {
    display: none;
}

@media (max-width: 1200px) {
    .navbar {
        position: fixed;
        width: 60vw;
        /* overflow-y: auto; */
        background-color: #3d5060;
        top: 0;
        left: 0;
        height: 100vh;
        display: block;
        transition: .5s;
        transform: translateX(-100%)
    }

    .navbar li a{
        color: aliceblue;
    }
    
    .navbar .open-nav {
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
        width: 30px;
        height: 30px;
        background-color: #ffffff77;
        padding: 10px;
        cursor: pointer;
    }

    .navbar .open-nav span {
        display: block;
        background-color: black;
        height: 4px;
        width: 30px;
        margin: 5px 0;
        transition: .5s;
    }

    #open-nav {
        display: none;
    }

    .navbar:has(input[name="open-nav"]:checked) {
       transform: translateX(0); 
    }
    
    .navbar:has(input[name="open-nav"]:checked) .open-nav span:nth-child(2) { /*trỏ đến span thứ 2*/
        opacity: 0;
        transition: 0;
    }

    .navbar:has(input[name="open-nav"]:checked) .open-nav span:nth-child(1) { 
        transform: rotate(45deg) translate(6px, 6px);
    }

    .navbar:has(input[name="open-nav"]:checked) .open-nav span:nth-child(3) { 
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .navbar li {
        display: block;
        position: unset;
        border-bottom: 2px solid #384857;
        font-weight: 500;
    }

    .navbar .menu-option {
        width: 100%;
        text-align: left;
    }
    
    .navbar .menu-list {
        width: 100%;
        text-align: left;
    }

    .navbar .menu-list li:hover {
        background-color: unset !important;
        border-left: 10px solid #42855B;
        color: #42855B;
    }

    .navbar .menu-list label {
        color: #fff;
        display: block;
        float: right;
    }

    .navbar .menu-list label i {
        display: block;
        transition: 0.5;
        margin-right: 0;
        cursor: pointer;
    }

    #check-down-2:checked + ul {
        max-height: 100vh;
    }

    #check-down-3:checked + .menulv3 {
        max-height: 100vh;
    }

    .navbar .menu-list li ul {
        width: 100%;
        max-height: 0;
        position: unset;
        overflow: hidden;
        display: block;
        background-color: unset;
        transition: 1.5s;
        opacity: 1;
        border-left: 1px solid #ffffff22;
    }
    .navbar label input:checked ~ i {
        transform: rotate(180deg);
    }
}
/* Home */
.home {
    width: 100vw;
    height: auto;
}
.home-container {
    display: flex;
    justify-content: space-around;

}
.home-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home__title {
    
}
.home__title p {
    font-size: 60px;
}
.home__title p span {
    color: #42855B;
    font-size: 70px;
    font-weight: 900;
}
.home__btn button {
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    background: #42855B;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.home__btn button:hover {
    transform: scale(1.2);
}
/* right */
.home-right {
    display: flex;

}
.home__image {
    animation: autoUpdown 1s infinite alternate;
    z-index: 1;
}
@keyframes autoUpdown {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(-10px);
    }
}
.home__social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.home__social a {
    font-size: 30px;
    color: #fff;
}
.home-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.home-option img {
    cursor: pointer;
    transition: .5s !important;
}
.home-option img:hover {
    transform: translateY(-20px) !important;
}

.green-circle{
    background-color: #42855B;
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    position: absolute;
    right: -25%;
    top: 40%;
    z-index: -1;
}
@media (max-width:768px) {
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-left {
        width: 100%;
    }
    .home__title p {
        font-size: 25px;
        text-align: center;
    }
    .home-left p span {
        font-size: 25px;
    }
    .home__details {
        padding: 0px 15px;
        font-size: 13px;
        text-align: center;
    }
    .home-right {
        padding-top: 30px;
    }
    .home__social {
        display: none;
    }
    .home__image {
        padding-left: 110px;
        margin: 0 auto;
    }
    .home__image img{
        width: 60%;
    }
    .home-option {
        padding-top: 30px;
        gap: 3px;
    }
    .home-option img {
        width: 20%;
    }
    .home__btn {
        margin: 0 auto;
    }
    .home__btn button {
        background: #fff;
        color: #42855B;
    }
   
}
/* menu */
.menu {
    padding: 60px;
    height: auto;
}
.menu h1 {
    font-size: 50px;
    text-align: center;
    color: #42855B;
}
.menu-container {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    margin: 0 auto;
    width: 80%;
    height: auto;
    gap: 100px;
    flex-wrap: wrap;
}
.menu__item {
    background-color: #EEEEEE;
    padding: 10px 50px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
    transition: .5s !important;
}
.menu__item:hover {
    transform: translateY(-10px) !important;
}
.item__image {
    object-fit: cover;
}
.item__image img {
    width: 100%;
}
.item__name {
    font-size: 18px;
    font-weight: 500;
    padding-top: 40px;
}
.menu__btn {
    display: flex;
    justify-content: center;
    padding: 80px;
}
.menu__btn button {
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    background: #42855B;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    font-size: 15px;
    
}
.menu__btn button:hover {
    transform: scale(1.2);
}
@media (max-width: 768px) {
    .menu h1 {
        color: #fff;
    }
}

