@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@100&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    background: #EFF5F5;
    padding-top: 150px;
    overflow-x: hidden;
    height: 100%;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 999;
}
.navbar .navbar__links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    transition: .5s;
    padding-top: 15px;
    gap: 50px;
}
.open-search .navbar__links {
    opacity: 0;
}
.navbar .navbar__links a {
    color: #333;
    text-decoration: none;
}
.navbar .navbar__links a:hover {
    color: #42855B;
}

.navbar .logo img {
    width: 50%;
}
.navbar .navbar__search {
    color: #333;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
    position: relative;
}
.open-search .navbar__search .fa-magnifying-glass {
    visibility: hidden;
}
.navbar .navbar__search .fa-xmark {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 10%;
    opacity: 0;
}
.open-search .navbar__search .fa-xmark {
    opacity: 1;
}
.navbar .navbar__search-box {
    position: absolute;
    height: 45px;
    right: 250px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: scaleX(0);
    transition: .5s;
}
.open-search .navbar__search-box {
    opacity: 1;
    pointer-events: auto;
    transform: scaleX(1);
}
.navbar .navbar__search-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: #fff;
    transform: translateY(-50%);
}
.navbar .navbar__search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #42855B;
    padding:  0 15px 0 45px;
}
.navbar .navbar__search-box input::placeholder {
    color: #fff;
}
.navbar .navbar__openbtn, .navbar .navbar__closebtn {
    display: none;
}
/* responsive navbar */
@media (max-width: 1100px) {
    .navbar {
        padding: 15px 100px;
    }
    .navbar .navbar__search-box {
        right: 150px;
    }
}
@media (max-width: 950px) {
    .navbar {
        padding: 15px 50px;
    }
    .navbar .navbar__search-box {
        right: 10px;
        max-width: 400px;
    }
}
@media (max-width: 768px) {
    .navbar .navbar__openbtn, .navbar .navbar__closebtn {
        display: block;
    }
    .navbar .logo {
        text-align: center;
    }
    .navbar .navbar__links {
        position: fixed;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        flex-direction: column;
        background-color: #333;
        row-gap: 30px;
        left: -100%;
        bottom: 0;
        z-index: 999;
    }
    .openNavbar .navbar__links {
        left: 0;
    }

    .navbar .navbar__links li a{
        color: #fff;
    }
    .navbar .navbar__search-box {
        right: 100px;
        max-width: 300px;
    }
    .navbar .navbar__closebtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    .navbar .navbar__openbtn {
        color: #000;
        font-size: 20px;
        cursor: pointer;
    }
    .navbar .navbar__search-box {
        top: calc(100% + 10px);
        max-width: calc(100% - 20px);
        right: 50%;
        transform: translateX(50%);
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}
/* Home */
.home {
    width: 100vw;
    height: auto;
}
.home-container {
    display: flex;
    justify-content: space-around;

}
.home-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home__title {
    
}
.home__title p {
    font-size: 60px;
}
.home__title p span {
    color: #42855B;
    font-size: 70px;
    font-weight: 900;
}
.home__btn button {
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    background: #42855B;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.home__btn button:hover {
    transform: scale(1.2);
}
/* right */
.home-right {
    display: flex;

}
.home__image {
    animation: autoUpdown 1s infinite alternate;
    z-index: 1;
}
@keyframes autoUpdown {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(-10px);
    }
}
.home__social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.home__social a {
    font-size: 30px;
    color: #fff;
}
.home-option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.home-option img {
    cursor: pointer;
    transition: .5s !important;
}
.home-option img:hover {
    transform: translateY(-20px) !important;
}

.green-circle{
    background-color: #42855B;
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    position: absolute;
    right: -25%;
    top: 40%;
    z-index: -1;
}
@media (max-width:768px) {
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-left {
        width: 100%;
    }
    .home__title p {
        font-size: 25px;
        text-align: center;
    }
    .home-left p span {
        font-size: 25px;
    }
    .home__details {
        padding: 0px 15px;
        font-size: 13px;
        text-align: center;
    }
    .home-right {
        padding-top: 30px;
    }
    .home__social {
        display: none;
    }
    .home__image {
        padding-left: 110px;
        margin: 0 auto;
    }
    .home__image img{
        width: 60%;
    }
    .home-option {
        padding-top: 30px;
        gap: 3px;
    }
    .home-option img {
        width: 20%;
    }
    .home__btn {
        margin: 0 auto;
    }
    .home__btn button {
        background: #fff;
        color: #42855B;
    }
   
}
/* menu */
.menu {
    padding: 60px;
    height: auto;
}
.menu h1 {
    font-size: 50px;
    text-align: center;
    color: #42855B;
}
.menu-container {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    margin: 0 auto;
    width: 80%;
    height: auto;
    gap: 100px;
    flex-wrap: wrap;
}
.menu__item {
    background-color: #EEEEEE;
    padding: 10px 50px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
    transition: .5s !important;
}
.menu__item:hover {
    transform: translateY(-10px) !important;
}
.item__image {
    object-fit: cover;
}
.item__image img {
    width: 100%;
}
.item__name {
    font-size: 18px;
    font-weight: 500;
    padding-top: 40px;
}
.menu__btn {
    display: flex;
    justify-content: center;
    padding: 80px;
}
.menu__btn button {
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    background: #42855B;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    font-size: 15px;
}
.menu__btn button:hover {
    transform: scale(1.2);
}
@media (max-width: 768px) {
    .menu h1 {
        color: #fff;
    }
}

